<body>
  <h1>Add New Diary Entry</h1>
  <form action='/entry-added' method='POST'>
    <textarea name='new_entry' cols='60' rows='6' maxlength='300'></textarea><br>
    <input type='submit' value='Add Entry'>
  </form>
</body>
