
<body>
  <h1>My Diary</h1>
  <br>
  <form action='/add-entry' method='GET'>
    <input type='submit' value='Add New Entry'>
  </form>
  <br>
  <ul> 
    <%@entrys.each do |entry|%>
      <li><%=entry.title%><br><%=entry.entry%></li></a>
    <%end%>
  </ul>
</body>
